@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>DO NOT STORE SENSITIVE DATA IN HERE. THIS PRODUCT IS STILL UNDER DEVELOPMENT AND I AM NOT RESPONSIBLE WITH WHAT HAPPENS TO ANY DATA ENTER INTO THIS WEBSITE AND DATABSE.</p>
